
@{
    ViewData["Title"] = "Marca";
}

<h2>Marca CRUD</h2>
<div class="row">
    <div class="col-md-10">
        <a class="btn btn-success" style="margin-bottom:10px" onclick="ShowPopup('@Url.Action("AddEditMarca","Home")')"><i class="fa fa-plus"></i> Adicionar nova Marca</a>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <table id="gridMarca" name="gridMarca" class="table table-striped table-bordered" >
            <thead>
                <tr>
                    <th class="col-md-10">Marca</th>
                    <th class="col-md-2"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>


@section Scripts{ 
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/views/home/index.js"></script>
}

