@model src.Models.Modelo

@{
    Layout = null;
}
<h4>Modelo</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-area="" asp-controller="Modelo" asp-action="Create" onsubmit="return SubmitAddEditModelo(this)">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="modeloId" />
            <div class="form-group">
                <label asp-for="modeloDesc" class="control-label"></label>
                <input asp-for="modeloDesc" class="form-control" />
                <span asp-validation-for="modeloDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="marcaid" class="control-label"></label>
                <span asp-validation-for="marcaid" class="text-danger"></span>
                <select asp-for="marcaid" class="form-control" id="dropDownMarca">
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">

    FillSelectValues();

    function FillSelectValues() {
        
        $.ajax({
            type: 'GET',
            url: '/api/Marca/Marcas',
            contentType: 'application/json',
            success: function (data) {
                
                $.each(data, function (key, value) {
                    
                    $("<option/>", { value: key, text: value })
                        .appendTo('#dropDownMarca')
                });
                
                $('[id=dropDownMarca]').val(@Model.marcaid);
            }

        });

    }

</script>